<mat-toolbar class="headerbar-container"color="primary">
    <mat-toolbar-row>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Are you looking for something?</mat-label>
                <input matInput placeholder="Search in your history">
                <mat-icon matSuffix>manage_search</mat-icon>
              </mat-form-field>
        </div>
        <div class="user_container">
            <mat-icon matTooltip="Do you need any help?">flag</mat-icon> <mat-icon  *ngIf="authService.userData as user" matTooltip="Hallo {{ user.uid }}, klicke hier um deine Account Details einzusehen" routerLinkActive="router-link-active" [routerLink]="'/user-details/' + user.uid">supervised_user_circle</mat-icon>
          <p (click)="authService.SignOut()" *ngIf="authService.userData as user" matTooltip="Klicke hier um dich auszuloggen">{{ user.email }} </p>  
            

        </div>

        
    </mat-toolbar-row>
</mat-toolbar>