<mat-toolbar class="headerbar-container"color="primary">
    <mat-toolbar-row>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Are you looking for something?</mat-label>
                <input matInput placeholder="Search in your history">
                <mat-icon matSuffix>manage_search</mat-icon>
              </mat-form-field>
        </div>
        <div class="user_container">
            <mat-icon matTooltip="Do you need any help?">flag</mat-icon>
            <mat-icon matTooltip="Log In User Name">supervised_user_circle</mat-icon>

        </div>

        
    </mat-toolbar-row>
</mat-toolbar>