* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: white;
}

.displayTable {
    height: 100vh;
}

.redirect {
    &:hover {
        color: var(--darkGrey);
        cursor: pointer;
    }
}