::ng-deep .newChannel {
    overflow-y: hidden !important;
}

.newChannel {
    width: 50vw;
    overflow: hidden;
    background-color: rgba($color: #a06b90ad, $alpha: 0.2);
    padding-left: 12px;
    padding-top: 12px;
}