* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h3 {
    font-size: 20px;
}

.displayTable {
    height: 100vh;
    background-color: #77529F;
}

.or {
    margin: 5px 0px 10px 0px;
}