<form [formGroup]="form">
    <div class="message-field" [class.highlightBorder]="focused">
        <ngx-editor-menu [editor]="editor3" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor3" formControlName="editorContent" placeholder="Write a message..." [(ngModel)]="content"> </ngx-editor>
        <div mat-dialog-actions class="action-btn">
            <button mat-button (click)="dialogRef.close()">Cancel</button>
            <button mat-button cdkFocusInitial [disabled]="form.invalid" (click)="saveChanges()">Save changes</button>
        </div>
    </div>
</form>