<div class="thread-container" *ngIf="threadContent">
    <header>
        [Thread]
        <button mat-button (click)="closeComments()"><mat-icon>close</mat-icon></button>
    </header>
    <div class="content-field-first-entry">
        <div class="content-entry">
            <div>
                <img [src]=threadContent.userPhotoURL>
            </div>
            <div class="full-width">
                <span class="displayName">{{ threadContent.userName }} <span class="postedAt">{{ threadContent.postedAt }}</span></span>
                <div>
                    <div id="content-{{ 0 }}" class="content full-width" [innerHTML]="threadContent.content"></div>
                </div>
                <div>
                    <ngx-emoji *ngIf=threadContent.reactions matBadge="1" matBadgeSize="small"
                        emoji="{{ threadContent.reactions }}">
                    </ngx-emoji>
                </div>
            </div>
            <div class="reaction-bar">
                <ngx-emoji emoji="smiley" (emojiClick)="addEmoji(-1, 'smiley')"></ngx-emoji>
                <ngx-emoji emoji="heart_eyes" (emojiClick)="addEmoji(-1, 'heart_eyes')"></ngx-emoji>
                <ngx-emoji emoji="thumbsup" (emojiClick)="addEmoji(-1, 'thumbsup')"></ngx-emoji>
                <ngx-emoji emoji="thumbsdown" (emojiClick)="addEmoji(-1, 'thumbsdown')"></ngx-emoji>
                <!-- <mat-icon matTooltip="Add comment" (click)="addComment(threadContent)">reply</mat-icon> -->
                <mat-icon *ngIf="threadContent.userName == loggedIn" matTooltip="Edit note" (click)="openEditor(threadContent, 'topic', threadContent, -1)">
                    edit_note</mat-icon>
                <mat-icon *ngIf="threadContent.userName == loggedIn" matTooltip="Delete">delete</mat-icon>
            </div>
        </div>
    </div>

    <div class="content-field">
        <div *ngIf="threadContent.comments.length > 0" class="number-of-comments">
            <div>{{ threadContent.comments.length }} {{ getCommentlength() }}</div>
            <div><hr></div>
        </div>
        <div class="content-entry" *ngFor="let content of threadContent.comments; let i = index">
            <div>
                <img [src]=content.userPhotoURL>
            </div>
            <div class="full-width">
                <span class="displayName">{{ content.userName }} <span class="postedAt">{{ content.postedAt
                        }}</span></span>
                <div>
                    <div id="content-{{ i }}" class="content full-width" [innerHTML]="content.content"></div>
                </div>
                <div>
                    <ngx-emoji *ngIf=content.reactions matBadge="1" matBadgeSize="small"
                        emoji="{{ content.reactions }}">
                    </ngx-emoji>
                </div>
            </div>
            <div class="reaction-bar">
                <ngx-emoji emoji="smiley" (emojiClick)="addEmoji(i, 'smiley')"></ngx-emoji>
                <ngx-emoji emoji="heart_eyes" (emojiClick)="addEmoji(i, 'heart_eyes')"></ngx-emoji>
                <ngx-emoji emoji="thumbsup" (emojiClick)="addEmoji(i, 'thumbsup')"></ngx-emoji>
                <ngx-emoji emoji="thumbsdown" (emojiClick)="addEmoji(i, 'thumbsdown')"></ngx-emoji>
                <!-- <mat-icon matTooltip="Add comment" (click)="addComment(content.customIdName)">reply</mat-icon> -->
                <mat-icon *ngIf="content.userName == loggedIn" matTooltip="Edit note" (click)="openEditor(content, 'comment', threadContent, i)">
                    edit_note</mat-icon>
                <mat-icon *ngIf="content.userName == loggedIn" matTooltip="Delete">delete</mat-icon>
            </div>
        </div>
    </div>
    <app-message-field-thread class="message-field-comment-position"></app-message-field-thread>
</div>