<h1 mat-dialog-title>testChannel2</h1>
<button>X</button>
<div class="profile-card">
    <div>
        <img src="assets/img/profileAlex.jpg">
        <span>Alexander Baraev</span>
    </div>
    <button>Delete</button>
</div>
<div class="profile-card">
    <div>
        <img src="assets/img/profileAlex.jpg">
        <span>Alexander Baraev</span>
    </div>
    <button>Delete</button>
</div>
<div class="profile-card">
    <div>
        <img src="assets/img/profileAlex.jpg">
        <span>Alexander Baraev</span>
    </div>
    <button>Delete</button>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">No Thanks</button>
</div>