<mat-selection-list class="sidebar-toolbar" color="primary" [multiple]="false">
    <button mat-icon-button color="primary" class="ml-16 add-channel-button" aria-label="Example icon-button with a heart icon">Create new
        Channel
        <mat-icon>add</mat-icon>
    </button>


    <mat-list-option *ngFor="let channels of allChannels">
        <p routerLink="/channels/{{ channels['name'] }}" (click)="setChatVar(channels['name'])"> {{ channels['name']
            }}</p>
    </mat-list-option>
    <button mat-icon-button color="primary" class="ml-16 add-channel-button" aria-label="Example icon-button with a heart icon">New private
        Message
        <mat-icon>add</mat-icon>
    </button>
    <mat-list-option *ngFor="let messages of allMessages">
        <p routerLink="/messaging/{{messages['customIdName']}}" (click)="setMessageVar(messages['customIdName'])">
            {{ messages['customIdName'] }}</p>
    </mat-list-option>
    <div class="selected-option">
        <p>
            {{ test }} </p>
    </div>



</mat-selection-list>