.sidebar-toolbar {
    height: 90vh;
    width: 15vw;
    background-color: var(--lightPurple);

    p {
        color: white;

    }
}

.ml-16 {
    margin-left: 16px;
}

mat-list-option {
    cursor: pointer;
   

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.selected-option {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    padding: 12px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 15vw;

    p {
        font-size: larger;
    }
}

.add-channel-button {

    &:hover {
        color: rgba(185, 185, 76, 0.712);
        background-color: rgba(0, 0, 0, 0.781);
    }
}