<mat-toolbar class="sidebar-toolbar" color="primary">

    <mat-selection-list #shoes [multiple]="false">
        Channels
        <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
            {{shoe}}
        </mat-list-option>

        Private Messages
        <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
            {{shoe}}
        </mat-list-option>
    </mat-selection-list>
    <p>
        Option selected: {{shoes.selectedOptions.selected[0]?.value}}
      </p>

</mat-toolbar>