.user-detail-card {
    position: relative;
    width: 83vw;
    margin: 16px;
    margin-bottom: 0;
    background-color: rgba($color: #a06b90ad, $alpha: 0.2);
    height: 87vh;
    overflow: hidden;

    mat-card-title {
        margin-top: 12px;
        margin-left: 12px;
        font-size: 36px;
        color: var(--lightPurple);
    }

    mat-card-subtitle {
        color: rgba($color: #692154c4, $alpha: 0.4);
        margin-left: 12px;
        font-size: 24px;
    }
}

.profil_img {
    max-height: 400px;
    max-width: 400px;
    margin-top: 56px;
    margin-right: 56px;
    margin-bottom: 28px;
}

.log-out-btn:hover {
    background-color: rgba(204, 57, 32, 0.3) !important
}

.profil-details {
    background-color: rgba($color: #692154c4, $alpha: 0.4);
    margin-right: 28px;
    margin-left: 28xp;

    h2 {
        font-size: 24px;
        margin-bottom: 6px;
    }


}