<mat-card class="user-detail-card" *ngIf="authService.userData as user">



    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{(user.displayName) ? user.displayName : 'Kein Name vorhanden'}}</mat-card-title>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
            <img mat-card-image class="profil_img"
                src="{{(user.photoURL) ? user.photoURL : 'https://material.angular.io/assets/img/examples/shiba2.jpg'}}"
                alt="Profilbild">
        </mat-card-title-group>
        <mat-card  class="profil-details">
            <mat-card-content>
                <h2> User details</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sequi nesciunt quam unde quaerat qui?
                Voluptates numquam quos ducimus quae dolorem, accusantium qui, culpa, hic repellat vitae explicabo
                voluptatibus porro.
            </mat-card-content>
        </mat-card>
        <mat-card-actions class="">
            <button mat-button (click)="authService.SignOut()" *ngIf="authService.userData as user"
                matTooltip="Klicke hier um dich auszuloggen">Ausloggen</button>
            <button mat-button routerLinkActive="router-link-active" routerLink="/channels/{{ channel }}"> Zurück zu den
                Channels </button>
        </mat-card-actions>
    </mat-card>
</mat-card>