.user-detail-card {
    position: relative;
    width: 83vw;
    margin: 16px;
    margin-bottom: 0;
    background-color: rgba($color: #a06b90ad, $alpha: 0.2);
    height: 87vh;
    overflow: hidden;
}