img {
    height: 60px;
    width: 60px;
    animation: rotatingLogo 2s linear infinite;
    margin-bottom: 24px;
}

.loading-screen {
    height: 250px;
    width: 250px;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotatingLogo {
    0% {
        transform: rotate(360deg) scale(1);
    }

    25% {
        transform: rotate(360deg) scale(1.1);
    }

    75% {
        transform: rotate(0) scale(1.1);
    }

    100% {
        transform: rotate(0) scale(1);
    }

}