.message-field {
    position: absolute;
    bottom: 24px;
    left: 16px;
    right: 16px;
}

.NgxEditor__Content {
    height: 120px !important;

    &:focus {
        border: 1px solid black !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }
}

.NgxEditor {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.NgxEditor__MenuBar {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05) !important;
}
