<header>[Channel]</header>

<div class="content-entry" *ngFor="let content of channelContent; let i = index">
    <div>
        <img [src]=content.photoURL>
    </div>
    <div class="text-field">
        <span class="displayName">{{ content.displayName }} <span class="postedAt">{{ content.posted }}</span></span>
            <textarea id="content-{{ i }}" class="content" [readonly]="true">{{ content.content }}</textarea>
            <button class="cancel-edit-btn">Cancel</button>
            <button class="save-edit-btn">Save changes</button>
        <div>
            <ngx-emoji *ngIf=content.reactions matBadge="1" matBadgeSize="small" emoji="{{ content.reactions }}">
            </ngx-emoji>
        </div>
    </div>
    <div class="reaction-bar">
        <ngx-emoji emoji="smiley" (emojiClick)="addEmoji(i, 'smiley')"></ngx-emoji>
        <ngx-emoji emoji="heart_eyes" (emojiClick)="addEmoji(i, 'heart_eyes')"></ngx-emoji>
        <ngx-emoji emoji="thumbsup" (emojiClick)="addEmoji(i, 'thumbsup')"></ngx-emoji>
        <ngx-emoji emoji="thumbsdown" (emojiClick)="addEmoji(i, 'thumbsdown')"></ngx-emoji>
        <mat-icon matTooltip="Add comment">reply</mat-icon>
        <mat-icon *ngIf="content.displayName == loggedIn" matTooltip="Edit note" (click)="edit(i)">edit_note</mat-icon>
        <mat-icon *ngIf="content.displayName == loggedIn" matTooltip="Delete">delete</mat-icon>
    </div>
</div>

<app-message-field></app-message-field>