<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="screen-field row">
    <div class="channel-field" [class.show-thread-field]="threadView">
        <header *ngIf="!loading">{{ currentChannel }}</header>
        <div class="content-field" *ngIf="channelContent && !loading">
            <div class="content-entry" *ngFor="let content of sortChannel; let i = index">
                <div>
                    <img [src]=content.userPhotoURL>
                </div>
                <div class="full-width">
                    <span class="displayName">{{ content.userName }} <span class="postedAt">{{ convertToDate(content.postedAt) }}</span></span>
                    <div>
                        <div id="content-{{ i }}" class="content full-width" [innerHTML]="content.content">
                        </div>
                    </div>
                    <div>
                        <ngx-emoji *ngIf=content.reactions matBadge="1" matBadgeSize="small"
                            emoji="{{ content.reactions }}" class="reaction">
                        </ngx-emoji>
                        <div *ngIf="content.comments.length > 0"><button (click)="addComment(content)">{{ content.comments.length }} {{ getCommentlength(content.comments.length) }}</button></div>
                    </div>
                </div>
                <div class="reaction-bar">
                    <ngx-emoji emoji="smiley" (emojiClick)="addEmoji(i, 'smiley')"></ngx-emoji>
                    <ngx-emoji emoji="heart_eyes" (emojiClick)="addEmoji(i, 'heart_eyes')"></ngx-emoji>
                    <ngx-emoji emoji="thumbsup" (emojiClick)="addEmoji(i, 'thumbsup')"></ngx-emoji>
                    <ngx-emoji emoji="thumbsdown" (emojiClick)="addEmoji(i, 'thumbsdown')"></ngx-emoji>
                    <mat-icon matTooltip="Add comment" (click)="addComment(content)">reply
                    </mat-icon>
                    <mat-icon *ngIf="content.userName == loggedIn" matTooltip="Edit note" (click)="openEditor(content)">
                        edit_note</mat-icon>
                    <mat-icon *ngIf="content.userName == loggedIn" matTooltip="Delete" (click)="deleteThread(content)">delete</mat-icon>
                </div>
            </div>
        </div>
        <app-message-field class="message-field-thread-position"></app-message-field>
    </div>


    <app-thread-field class="border-left"></app-thread-field>


</div>